.card-title {
  color: red;
}

.card-subtitle {
  color: gray;
}

.card-text {
  color: black;
}
.card {
  margin-bottom: 1rem;
}
.card-buttons {
  margin-top: 0rem;
}
body {
  background-image: url("./images/bg.jpg");
}

